* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input.ng-valid,
select.ng-valid {
    background-color: #c1e1c1; /* Green background for valid input */
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    background-color: #ffcccc; /* Red background for invalid input */
}

option{
    background-color: white;
}

.error-message {
    color: red;
    font-size: 12px;
}

body {
    background-color: #111111;
    padding: 20px;
}

form {
    max-width: 400px;
    text-align: center;
    margin-top: 54px;
    margin-left: 450px;
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #faa524 0px 1px 25px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f7e7ce;
    border: 1px solid #363636;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="date"]:focus,
form select:focus {
    outline-style: solid;
    outline-color:#ff9f0d;
    border: 2px solid #ff9f0d;
}

form button[type="submit"] {
    width: 30%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

.label {
    color: white;
}

#reserve {
    color: white;
    text-align: center;
    /* margin-left: -210px; */
    margin-top: 30px;
    margin-left: -1%;
}

/* #popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

 .popup-container { 
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 999;
}

.popup-message {
    font-size: 16px;
    text-align: center;
} 

.popup-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 999;
} */

.popup-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 999;
}

.popup-message {
    font-size: 16px;
    text-align: center;
}